body {
  font-family: sans-serif;
  background-color: #34d3eb;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.paddingtop {
  padding-top: 100px;
  min-height: 100vh;
}

/* Navbar */

.navitem {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/* authform */

.authpage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.authform {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  padding: 3%;
  margin: auto;
  margin-top: 10%;
}

/* userhome */

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.quizbutton {
  width: 200px;
  height: 50px;
}

/* pastQuizCard */

.pastQuizCard {
  border: solid rgba(0, 0, 0, 0.4) 1px;
  padding: 20px 50px 20px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.reviewbutton {
  color: black;
}
