body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.paddingtop {
  padding-top: 100px;
  min-height: 100vh;
}

/* Navbar */

.navitem {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/* authform */

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.introauth {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.authpage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.authform {
  display: flex;
  min-width: 300px;
  max-width: 350px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  padding: 3%;
  margin: auto;
}
.previewimage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.preview-text {
  font-size: 24px;
}

/* userhome */

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.quizbutton {
  width: 200px;
  height: 50px;
}

/* pastQuizCard */

.pastQuizCard {
  border: solid rgba(0, 0, 0, 0.4) 1px;
  padding: 20px 50px 20px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.reviewbutton {
  color: black;
}

/* quizCard */

.radiobtn * {
  background-color: white;
  border: none;
}

/* pagestepper */

.stepper {
  display: flex;
  align-items: center;
  justify-content: center;
}
